---
layout: default
title: IO Jack
description: Welcome to my personal blog/portfolio webpage. Here you will find a variety of projects I have worked on that range from pure programming, to server setup and much more.
---

<div class="mdl-grid portfolio-max-width">
	<div class="mdl-cell mdl-card mdl-cell--12-col mdl-shadow--4dp mdl-card__post">
		<div class="mdl-grid mdl-grid__about mdl-grid--no-spacing">
			<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
				<div class="mdl-card__media mdl-color--accent mdl-card__first-media">
					<i class="material-icons mdl-color-text--white placeholder">description</i>
				</div>
			</div>

			<div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">{{ page.title }}</h2>
				</div>

				<div class="mdl-card__supporting-text">
					{{ page.description }}
				</div>
			</div>
		</div>
	</div>

	{% for post in site.posts %}
	<div class="mdl-cell mdl-card mdl-cell--4-col mdl-shadow--4dp mdl-card__post">

		<div class="mdl-card__media">
			{% if post.image == null %}
				<i class="material-icons mdl-color-text--white placeholder">chat</i>
			{% else %}
				<a href="{{ post.url }}"><img src="{{ post.image }}"></a>
			{% endif %}
		</div>

		<div class="mdl-card__title">
			<a href="{{ post.url }}"><h2 class="mdl-card__title-text">{{ post.title }}</h2></a>
		</div>

		<div class="mdl-card__supporting-text">
			<p>{{ post.description }}... <a href="{{ post.url }}"> read more</a></p>
			<span>
				<a href="{{ site.url }}/about">{{ post.author }}</a>
				<time class="post-date" datetime="{{ post.date | date: "%Y-%m-%d"}}">{{ post.date | date_to_long_string }}</time>
			</span>
		</div>
	</div>
	{% endfor %}

</div>
