<!DOCTYPE HTML>
<html lang="en">
    <head>

        <!-- Document Settings -->
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <!-- Page Meta -->
        <title>{{ site.name }} - {{ page.title }}</title>
        <meta name="description" content="<meta_description>"/>

        <!-- Mobile Meta -->
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

        <!-- Styles'n'Scripts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.blue-red.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400" type="text/css" />
        <link rel="stylesheet" href="/assets/css/styles.css" />

    </head>

    <body>
        <!--Navbar section-->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row mdl-layout__nav-max-width">
                    <!-- Title -->
                    <span class="mdl-layout-title"><a href="{{ site.url }}" class="mdl-color-text--white">{{ site.name }}</a></span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation. We hide it in small screens. -->
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link" href="{{ site.url }}"> Home </a>
                        <a class="mdl-navigation__link" href="{{ site.url }}/about"> About </a>
                        <a class="mdl-navigation__link" href="{{ site.url }}/projects"> Projects </a>
                    </nav>
                </div>
            </header>

            <!--Sidenav-->
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title"><a href="{{ site.url }}">{{ site.name }}</a></span>

                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="{{ site.url }}"> Home </a>
                    <a class="mdl-navigation__link" href="{{ site.url }}/about"> About </a>
                    <a class="mdl-navigation__link" href="{{ site.url }}/projects"> Projects </a>
                </nav>
            </div>

            <!--Main Page content-->
            <main class="mdl-layout__content">
                <div class="page-content">
                    {{ content }}
                </div>
                <!--Footer-->
                <footer class="mdl-mini-footer">
                    <div class="mdl-layout__nav-max-width">

                        <div class="mdl-mini-footer__left-section">
                            <div class="mdl-logo">{{ site.name }}</div>
                        </div>
                    </div>
                </footer>
            </main>
        </div>

        <!--Material Design Lite JavaScript-->
        <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
        <!--Custom javascript-->
    </body>
</html>
